<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container inn-padded">
    <form th:action="@{/search}">
        <input required="required" type="text" th:name="searchQuery"/>
        <input type="submit" value="Search"/>
    </form>
    <div class="row">
        <div class="col-md-4 justify-content-center align-items-center">
            <h1 class="display-3">Artists</h1>
            <div class="col" th:each="artist:${artists}">
                <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${artist.getName()}"></h5>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 justify-content-center align-items-center">
            <h1 class="display-3">Genres</h1>
            <div class="col" th:each="genre:${genres}">
                <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${genre.getName()}"></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 justify-content-center align-items-center">
            <h1 class="display-3">Songs</h1>
            <div class="col" th:each="song:${songs}">
                <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${song.getName()}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>