<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container inn-padded">
    <div class="row justify-content-center">
        <div class="col justify-content-center align-items-center">
            <h1 class="text-center display-3">Songs</h1>
            <div class="col" th:each="song:${searchResults}">
                <div class="card text-center shadow-lg p-3 mb-4 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${song.getName()}"></h5>
                        <p class="card-text" th:text="${song.getArtist()}"></p>
                        <p class="card-text" th:text="${song.getAlbum()}"></p>
                        <p class="card-text" th:text="${song.getGenre()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>